<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>Servlets.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryManagerServlet</servlet-name>
        <servlet-class>Servlets.InventoryManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradeListManagerServlet</servlet-name>
        <servlet-class>Servlets.TradeListManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemInfoServlet</servlet-name>
        <servlet-class>Servlets.ItemInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogManagerServlet</servlet-name>
        <servlet-class>Servlets.CatalogManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterManagerServlet</servlet-name>
        <servlet-class>Servlets.EnterManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketManagerServlet</servlet-name>
        <servlet-class>Servlets.BasketManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradeManagerServlet</servlet-name>
        <servlet-class>Servlets.TradeManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListManagerServlet</servlet-name>
        <servlet-class>Servlets.OrderListManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryManagerServlet</servlet-name>
        <url-pattern>/inventoryManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradeListManagerServlet</servlet-name>
        <url-pattern>/tradeListManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemInfoServlet</servlet-name>
        <url-pattern>/itemInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogManagerServlet</servlet-name>
        <url-pattern>/catalogManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterManagerServlet</servlet-name>
        <url-pattern>/enterManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketManagerServlet</servlet-name>
        <url-pattern>/basketManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradeManagerServlet</servlet-name>
        <url-pattern>/tradeManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListManagerServlet</servlet-name>
        <url-pattern>/orderListManagerServlet</url-pattern>
    </servlet-mapping>
</web-app>